<%= form_for(post, html: {class: 'text-center'}) do |f| %>
  <%= f.hidden_field :daum_id, value: params[:cafe_id] %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content, class: 'form-control' %>
  </div>
<br>
  <div class="actions">
    <%= f.submit '작성하기',class: 'btn btn-info' %>
    
    <%= link_to '뒤로가기', posts_path, class: 'btn btn-warning text-white' %>

  </div>
<% end %>
